#main-page1 {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
#main-page1 {
  width: 100vw;
  height: 100vh;
}
#Main-header-container {
  margin: 0%;
  padding: 0%;

  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header-links {
  width: auto;
  display: flex;
  justify-content: space-around;
}
#header-links p {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

#header-icons {
  min-width: 4%;
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-icons i {
  font-size: 1.5rem;
  margin: 15%;
}

#main-image {
  width: 100vw;
  height: 90%;
  background-color: aqua;
  background-image: url("./heroimg.jpg");
  background-size: cover;
  background-position: center;
}

#main-image-content {
  height: 30%;
  width: 100vw;
  background-color: #b2b2b2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main-image-content p {
  width: 24%;
  font-size: 1.3rem;
  text-align: center;
}

#card-container {
  width: 100vw;
  height: 80%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#card {
  width: 30%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-page2 {
  width: 100vw;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dad6df;
}

#image1-div {
  width: 80%;
  height: 70%;
  background-image: url("./rooms.jpg");
  background-size: cover;
  background-position: center;
}

#image2-div {
  width: 80%;
  height: 70%;
  background-image: url("./dining.jpg");
  background-size: cover;
  background-position: center;
}
#image3-div {
  width: 80%;
  height: 70%;
  background-image: url("./pool.jpg");
  background-size: cover;
  background-position: center;
}
#image2-button {
  height: 45%;
  width: 70%;
  display: flex;
  justify-content: center;
}
#image2-button button {
  width: 40%;
  height: 70%;
  background-color: black;
  color: white;
}

#image1-button {
  height: 45%;
  width: 70%;
  display: flex;
  justify-content: center;
}
#image1-button button {
  width: 40%;
  height: 70%;
  background-color: black;
  color: white;
}
#image3-button {
  height: 45%;
  width: 70%;
  display: flex;
  justify-content: center;
}
#image3-button button {
  width: 40%;
  height: 70%;
  background-color: black;
  color: white;
}
#image2-content {
  width: 80%;
}
#image1-content {
  width: 80%;
}
#image3-content {
  width: 80%;
}
